<div class="container">
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Avatar / Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Talent</th>
                <th>5 Word Summary</th>
                <th>Email</th>
                <th>Average Rating</th>
                <!--<th>Claims</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in controller.users">
                <td ui-sref="userProfile({id: user.id})"> <img src="{{user.profileImage}}" /> {{user.userName}} </td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.city}}</td>
                <td>{{user.state}}</td>
                <td>{{user.zipCode}}</td>
                <td>{{user.talent}}</td>
                <td>{{user.sell}}</td>
                <td>{{user.email}}</td>
                <td ui-sref="rating({id: user.id})">{{user.averageRating}}</td>
                <!--<td>{{user.claims}}</td>-->
                <td>
                    <!--<button class="btn btn-success" ui-sref="editProduct({id: controller.prod.id})">Edit</button>-->
                    <button class="btn btn-danger" ng-click="controller.deleteUser(user.id)">Remove</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>