<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-1" style="background-image: url(../../images/skullWaveForm.gif);">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="mbr-table-cell">
        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                    <h1 class="mbr-section-title display-1">Let that Bang!</h1>
                    <p class="mbr-section-lead lead">
                        <br>We are a community of musicians, performers, businesses and engineers committed to making the connections necessary to monetize your musical passions.
                        <br>
                        <br>Get paid to do what you love!
                        <br>
                        <br>Not a member of our community yet?
                        <br>Register here.
                    </p>
                    <div class="mbr-section-btn">
                        <a class="btn btn-lg btn-success-outline btn-success" href="/register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true">
        <a href="#footer1-2"><i class="mbr-arrow-icon"></i></a>
    </div>
</section>




<!--<input name="animation" type="hidden">-->

